
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Materials/Gold Coin - Single.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Materials/Gold Coin - Single.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/GoldCoin.fbx
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/GoldCoin.fbx.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/Materials/goldCoin_Diffuse.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/Materials/goldCoin_Diffuse.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Materials/Gold Coins Mat.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Materials/Gold Coins Mat.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/GoldCoins.fbx
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/GoldCoins.fbx.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/Materials/goldCoin_Diffuse.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/Materials/goldCoin_Diffuse.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Prefab/GoldCoins.prefab
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Prefab/GoldCoins.prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_AlbedoTransparency.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_AlbedoTransparency.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_MetallicSmoothness.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_MetallicSmoothness.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_Normal.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_Normal.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Material.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Material/Silver Coin - Single.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Material/Silver Coin - Single.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/Materials/goldCoin_Diffuse.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/Materials/goldCoin_Diffuse.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/SilverCoin.fbx
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/SilverCoin.fbx.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Prefab/SilverCoin.prefab
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Prefab/SilverCoin.prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Material.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Material/Silver Coins Mat.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Material/Silver Coins Mat.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/Materials/goldCoin_Diffuse.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/Materials/goldCoin_Diffuse.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/SilverCoins.fbx
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/SilverCoins.fbx.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Prefab/SilverCoins.prefab
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Prefab/SilverCoins.prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_AlbedoTransparency.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_AlbedoTransparency.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_MetallicSmoothness.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_MetallicSmoothness.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_Normal.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_Normal.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Documentation.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Documentation/ReadMe-GoldCoins.rtf
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Documentation/ReadMe-GoldCoins.rtf.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene/Devtoid-Gold,Silver,CopperCoins.unity
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene/Devtoid-Gold,Silver,CopperCoins.unity.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene/Devtoid-Gold,Silver,CopperCoinsSettings.lighting
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene/Devtoid-Gold,Silver,CopperCoinsSettings.lighting.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Materials/Gold Coin - Single.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Materials/Gold Coin - Single.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/GoldCoin.fbx
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/GoldCoin.fbx.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/Materials/goldCoin_Diffuse.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Mesh/Materials/goldCoin_Diffuse.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coin - Single/Prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Materials/Gold Coins Mat.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Materials/Gold Coins Mat.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/GoldCoins.fbx
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/GoldCoins.fbx.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/Materials/goldCoin_Diffuse.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Mesh/Materials/goldCoin_Diffuse.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Prefab/GoldCoins.prefab
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Prefab/GoldCoins.prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_AlbedoTransparency.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_AlbedoTransparency.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_MetallicSmoothness.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_MetallicSmoothness.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_Normal.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Gold Coins/Textures/GoldCoins_Normal.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Material.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Material/Silver Coin - Single.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Material/Silver Coin - Single.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/Materials/goldCoin_Diffuse.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/Materials/goldCoin_Diffuse.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/SilverCoin.fbx
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Mesh/SilverCoin.fbx.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Prefab/SilverCoin.prefab
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coin - Single/Prefab/SilverCoin.prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Material.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Material/Silver Coins Mat.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Material/Silver Coins Mat.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/Materials.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/Materials/goldCoin_Diffuse.mat
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/Materials/goldCoin_Diffuse.mat.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/SilverCoins.fbx
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Mesh/SilverCoins.fbx.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Prefab/SilverCoins.prefab
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Prefab/SilverCoins.prefab.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_AlbedoTransparency.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_AlbedoTransparency.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_MetallicSmoothness.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_MetallicSmoothness.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_Normal.png
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/3D Assets/Silver Coins/Textures/SilverCoins_Normal.png.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Documentation.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Documentation/ReadMe-GoldCoins.rtf
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Documentation/ReadMe-GoldCoins.rtf.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene/Devtoid-Gold,Silver,CopperCoins.unity
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene/Devtoid-Gold,Silver,CopperCoins.unity.meta
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene/Devtoid-Gold,Silver,CopperCoinsSettings.lighting
EndlessRunnerProject/Assets/_Import/LiquidFire Package 4 - BSH games/Devtoid - Gold Coins/Scene/Devtoid-Gold,Silver,CopperCoinsSettings.lighting.meta
